#<aside>
üí° **Question 1**

Given an integer¬†`n`, return¬†*`true`¬†if it is a power of two. Otherwise, return¬†`false`*.

An integer¬†`n`¬†is a power of two, if there exists an integer¬†`x`¬†such that¬†`n == 2x`.

**Example 1:**
Input: n = 1 

Output: true

**Example 2:**
Input: n = 16 

Output: true

**Example 3:**
Input: n = 3 

Output: false

</aside>

In [4]:
def IfPowerOfTwo(n):
  if n==0:
    return False
  if n==1:
    return True
  if n%2!=0:
    return False
  return IfPowerOfTwo(n//2)

n=12
IfPowerOfTwo(n)

False

#<aside>
üí° **Question 2**

Given a number n, find the sum of the first natural numbers.

**Example 1:**

Input: n = 3 

Output: 6

**Example 2:**

Input  : 5 

Output : 15

</aside>

In [13]:
def SumOfN(n):
  if n==0:
    return 0
  if n==1:
    return 1
  return n+SumOfN(n-1)

n=5
SumOfN(n)

15

#<aside>
üí° **Question 3**

****Given a positive integer, N. Find the factorial of N. 

**Example 1:**

Input: N = 5 

Output: 120

**Example 2:**

Input: N = 4

Output: 24

</aside>

In [14]:
def Factorial(n):
  if n==0:
    return 1
  if n==1:
    return 1
  return n*Factorial(n-1)

n=5
Factorial(n)

120

#<aside>
üí° **Question 4**

Given a number N and a power P, the task is to find the exponent of this number raised to the given power, i.e. N^P.

**Example 1 :** 

Input: N = 5, P = 2

Output: 25

**Example 2 :**
Input: N = 2, P = 5

Output: 32

</aside>

In [15]:
def myPow(x,n):
  def function(base=x, exponent=abs(n)):
      if exponent == 0:
          return 1
      elif exponent % 2 == 0:
          return function(base * base, exponent // 2)
      else:
          return base * function(base * base, (exponent - 1) // 2)
  f = function()

  return float(f) if n >= 0 else 1/f

N,P=5,2
myPow(N,P)

25.0

#<aside>
üí° **Question 5**

Given an array of integers¬†**arr**, the task is to find maximum element of that array using recursion.

**Example 1:**

Input: arr = {1, 4, 3, -5, -4, 8, 6};
Output: 8

**Example 2:**

Input: arr = {1, 4, 45, 6, 10, -8};
Output: 45

</aside>

In [21]:
def Max(l):
  if len(l) == 1:
    return l[0]
  else:
    m = Max(l[1:])
    return m if m > l[0] else l[0]

arr = [1,4,45,6,10,-8]
Max(arr)

45

#<aside>
üí° **Question 6**

Given first term (a), common difference (d) and a integer N of the Arithmetic Progression series, the task is to find Nth term of the series.

**Example 1:**

Input : a = 2 d = 1 N = 5

Output : 6

The 5th term of the series is : 6

**Example 2:**

Input : a = 5 d = 2 N = 10

Output : 23

The 10th term of the series is : 23

</aside>

In [23]:
def APSeries(a,d,n):
  if n==1:
    return a
  return APSeries(a+d,d,n-1)

a,d,n=5,2,10
APSeries(a,d,n)

23

#<aside>
üí° **Question 7**

Given a string S, the task is to write a program to print all permutations of a given string.

**Example 1:**

***Input:***

*S = ‚ÄúABC‚Äù*

***Output:***

*‚ÄúABC‚Äù, ‚ÄúACB‚Äù, ‚ÄúBAC‚Äù, ‚ÄúBCA‚Äù, ‚ÄúCBA‚Äù, ‚ÄúCAB‚Äù*

**Example 2:**

***Input:***

*S = ‚ÄúXY‚Äù*

***Output:***

*‚ÄúXY‚Äù, ‚ÄúYX‚Äù*

</aside>

In [24]:
def permute_string(string, left, right):
    if left == right:
        print(''.join(string))
    else:
        for i in range(left, right + 1):
            string[left], string[i] = string[i], string[left]  # Swap characters
            permute_string(string, left + 1, right)  # Recursively permute the remaining characters
            string[left], string[i] = string[i], string[left]  # Restore the original order

def print_permutations(string):
    n = len(string)
    if n == 0:
        print("Empty string!")
        return
    string = list(string)  # Convert the string to a list of characters
    permute_string(string, 0, n - 1)

# Example usage:
s = "ABC"
print_permutations(s)

ABC
ACB
BAC
BCA
CBA
CAB

#<aside>
üí° **Question 8**

Given an array, find a product of all array elements.

**Example 1:**

Input  : arr[] = {1, 2, 3, 4, 5}
Output : 120

**Example 2:**

Input  : arr[] = {1, 6, 3}
Output : 18

</aside>

In [32]:
def Product(arr,l):
  if l==1 :
    return arr[0]
  return Product(arr[1:],l-1)*arr[0]

arr = [1,6,3]
Product(arr,len(arr))

18